/* .active-like{
    background-color: green;
}

.active-dislike{
    background-color: red;

}

.inactive{
    background-color:gray;
} */
.like-button, .dislike-button {
	border-radius: 5px;
}
.liked {
	background-color: green;
	color: white;
}

 .disliked {
	background-color: red;
	color: white;
}
